In [ ]:
!pip install rdflib

In [ ]:
!pip install git+https://github.com/RDFLib/rdflib.git@main#egg=rdflib

In [21]:
from rdflib import Graph

g = Graph()
g.parse(
    data="""
        <dad:> a <blanket:> .
        <mom:> a <blanket:> .
    """,
    format="turtle"
)

qres = g.query("""SELECT ?s WHERE { ?s a <blanket:> }""")

for row in qres:
    print(f"{row.s}")

dad:
mom:

In [23]:
g.update("""INSERT DATA { <brother:> a <blanket:> }""")

qres = g.query("""SELECT ?s WHERE { ?s a <blanket:> }""")

print("After update:")
for row in qres:
    print(f"{row.s}")

After update:
dad:
mom:
brother:

In [24]:
g.update("""
         DELETE { <brother:> a <blanket:> }
         INSERT { <sister:> a <blanket:> }
         WHERE { <brother:> a <blanket:> }
         """)
print("After second update:")
qres = g.query("""SELECT ?s ?o WHERE { ?s a ?o }""")
for row in qres:
    print(f"{row.s} a {row.o}")

After second update:
dad: a blanket:
mom: a blanket:
sister: a blanket:

In [ ]:
'''
PREFIX eg: <http://example.com/person/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>

eg:graph-1 {
    eg:drewp a foaf:Person .
    eg:drewp eg:says "Hello World" .
}

eg:graph-2 {
    eg:nick a foaf:Person .
    eg:nick eg:says "Hi World" .
}
'''

In [31]:
from rdflib import Dataset
from rdflib.namespace import RDF

g = Dataset()
g.parse("demo.trig")

for s, p, o, g in g:
    print(s, p, o)

http://example.com/person/nick http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://xmlns.com/foaf/0.1/Person
http://example.com/person/drewp http://example.com/person/says Hello World
http://example.com/person/nick http://example.com/person/says Hi World
http://example.com/person/drewp http://www.w3.org/1999/02/22-rdf-syntax-ns#type http://xmlns.com/foaf/0.1/Person